<template name="authentication">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form>
					<h2>Login</h2>
					<div class="alert alert-danger login-alert hidden" role="alert"></div>
					<input type="text" class="form-control login-email" placeholder="Email" required>
					<input type="password" class="form-control login-password" placeholder="Password" required>
					<button type="submit" class="btn btn-primary login-submit">Submit</button>
				</form>
			</div>
			<div class="col-md-6">
				<form>
					<h2>Register</h2>
					<div class="alert alert-danger register-alert hidden" role="alert"></div>
					<input type="text" class="form-control register-firstname" placeholder="First name" required>
					<input type="text" class="form-control register-lastname" placeholder="Last name" required>
					<input type="text" class="form-control register-email" placeholder="Email" required>
					<input type="password" class="form-control register-password" placeholder="Password" required>
					<input type="password" class="form-control register-reentpassword" placeholder="Re-enter Password" required>
					<button type="submit" class="btn btn-primary register-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</template>