<template name="create-project-p5">
    <div class="row" draggable="true">
        <div class="col-md-6 col-md-offset-3 middle-content">
            <form class="text-center">
                <div class="form-group" draggable="true">
                    <h1 class="text-center">
                        <strong>Create a Project</strong>
                    </h1>
                    <hr>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        100%
                    </div>
                </div><span class="glyphicon glyphicon-ok glyph-lg"></span>
                <h3>
                    Everything is good to go!
                </h3>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">
                        Go to Project Panel
                    </button>
                </div>
            </form>
        </div>
    </div><!--  Start of Bootstrap 3.2.0 JS File  -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" undefined=""></script><!--  End of Bootstrap 3.2.0 JS File  -->
</template>