<template name="create-project-p3">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 middle-content">
            <form>
                <div class="form-group" draggable="true">
                    <h1 class="text-center">
                        <strong>Create a Project</strong>
                    </h1>
                    <hr>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            50%
                        </div>
                    </div><label for="textbox">Resource Needed<br></label> &nbsp;<span class="glyphicon glyphicon-info-sign help-glyph"></span>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-6">
                                <u>Name</u> <input type="text" class="form-control" id="textbox" placeholder="Name...">
                            </div>
                            <div class="col-md-2">
                                <u>Needed</u> <input type="number" class="form-control" name="quantity">
                            </div>
                            <div class="col-md-2">
                                <u>Available</u> <input type="number" class="form-control" name="quantity">
                            </div>
                            <div class="col-md-2">
                                <br>
                                <button type="submit" class="btn btn-default" style="width:100%">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <u>Description</u> <textarea class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">
                        <a href="create-project-p4.html">Next</a>
                    </button>&nbsp;&nbsp;or&nbsp;&nbsp;<a href="create-project-p4.html">Skip this step</a>
                </div>
            </form>
        </div>
    </div>
</template>