<template name="explore">
	<div class="container-fluid zero-margin zero-padding">
		<div id="left-panel" class="col-md-2">
			<button id="new" class="btn btn-primary center-block">New</button>
			<div id="category" class="row center-block">
				<h5>Categories</h5>
				<div class="input-group">
					<div class="input-group-button">
						<button class="btn btn-default">Category 1</button>
						<button class="btn btn-default">Category 2</button>
						<button class="btn btn-default">Category 3</button>
						<button class="btn btn-default">Category 4</button>
						<button class="btn btn-default">Category 5</button>
					</div>
				</div>
			</div>
			<div id="tags" class="row center-block">
				<h5>Tags</h5>
				<div class="input-group">
					<div class="input-group-button">
						<button class="btn btn-default">Tag 1</button>
						<button class="btn btn-default">Tag 2</button>
						<button class="btn btn-default">Tag 3</button>
						<button class="btn btn-default">Tag 4</button>
						<button class="btn btn-default">Tag 5</button>
					</div>
				</div>
			</div>
		</div>
		<div id="right-panel" class="col-md-10">
			<div id="sorting-row" class="row center-block">
				<div class="col-md-4">
					<form class="form-inline">
						<div class="form-group">
							<label>Viewing:</label>
							<select class="form-control">
								<option>Any</option>
								<option>Projects</option>
								<option>Brainstorm</option>
							</select>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<form class="form-inline">
						<div class="form-group">
							<label>Sort by:</label>
							<select class="form-control">
								<option>Newest</option>
								<option>Most viewed</option>
							</select>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<form class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<input type="text" placeholder="Search" class="form-control">
								<span class="input-group-addon glyphicon glyphicon-search"> </span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="load-content" class="row">
				{{#each projects}}
					<div href="project.html" class="col-xs-12 col-sm-6 col-md-3 zero-margin content-pill project clickable">
						<img src="http://placehold.it/500x300" class="img-responsive">
						<div class="content-pill-title">{{title}}</div>
						<div class="content-pill-author"><span><img src="http://placehold.it/20x20" class="img-circle"></span><span>&nbsp;&nbsp;&nbsp;{{author}}</span></div>
						<div class="content-pill-description text-justify">{{description}}</div>
						<div class="well zero-padding content-pill-footer">
							<div class="label {{labelType}}">{{stage}}</div>
							<div class="badge">
								<span class="glyphicon glyphicon-eye-open"></span>
								<span>{{views}}</span>
							</div>
							<div class="badge">
								<span class="glyphicon glyphicon-star"></span>
								<span>{{stars}}</span>
							</div>
							<span class="pull-right">{{createdAt}}</span>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>