<template name="explore">
    <div class="container-fluid margin-top">
        <div class="col-xs-3 col-md-2 left-panel">
            <button class="btn btn-primary newBtn center-block">
                New
            </button>
            <div class="row category">
                <h3>
                    Categories
                </h3>
                <div class="list-group">
                    <button type="button" class="list-group-item">
                        Category 1
                    </button>
                    <button type="button" class="list-group-item">
                        Category 2
                    </button>
                    <button type="button" class="list-group-item">
                        Category 3
                    </button>
                    <button type="button" class="list-group-item">
                        Category 4
                    </button>
                    <button type="button" class="list-group-item">
                        Category 5
                    </button>
                </div>
            </div>
            <div class="row tags">
                <h3>
                    Tags
                </h3>
                <div class="list-group">
                    <button type="button" class="list-group-item">
                        Tag 1
                    </button>
                    <button type="button" class="list-group-item">
                        Tag 2
                    </button>
                    <button type="button" class="list-group-item">
                        Tag 3
                    </button>
                    <button type="button" class="list-group-item">
                        Tag 4
                    </button>
                    <button type="button" class="list-group-item">
                        Tag 5
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-md-10 right-panel">
            <div class="row">
                <div class="col-xs-6 col-md-9">
                    <div role="group" class="btn-group">
                        <button type="button" class="btn btn-default">
                            New
                        </button>
                        <button type="button" class="btn btn-default">
                            Updated
                        </button>
                        <button type="button" class="btn btn-default">
                            Most viewed
                        </button>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-addon glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid margin-top">
                <div class="col-xs-4 col-md-3 content">
                    <img src="//placehold.it/220x150" class="img-responsive center-block">
                    <h5>
                        Title
                    </h5>
                    <h6>
                        Description
                    </h6>
                    <h5>
                        Tags
                    </h5>
                </div>
                <div class="col-xs-4 col-md-3 content">
                    <img src="//placehold.it/220x150" class="img-responsive center-block">
                    <h5>
                        Title
                    </h5>
                    <h6>
                        Description
                    </h6>
                    <h5>
                        Tags
                    </h5>
                </div>
                <div class="col-xs-4 col-md-3 content">
                    <img src="//placehold.it/220x150" class="img-responsive center-block">
                    <h5>
                        Title
                    </h5>
                    <h6>
                        Description
                    </h6>
                    <h5>
                        Tags
                    </h5>
                </div>
                <div class="col-xs-4 col-md-3 content">
                    <img src="//placehold.it/220x150" class="img-responsive center-block">
                    <h5>
                        Title
                    </h5>
                    <h6>
                        Description
                    </h6>
                    <h5>
                        Tags
                    </h5>
                </div>
                <div class="col-xs-4 col-md-3 content">
                    <img src="//placehold.it/220x150" class="img-responsive center-block">
                    <h5>
                        Title
                    </h5>
                    <h6>
                        Description
                    </h6>
                    <h5>
                        Tags
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <footer id="footerwrap" class="jumbotron">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <h3>
                    Contact us
                </h3><span class="glyphicon glyphicon-phone"></span>&nbsp;9999999<br>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;something@somehost.com
            </div>
            <div class="col-md-5">
                CollabApp &copy; 2015<br>
                School of Mechanical and Aerospace Engineering<br>
                Nanyang Technological University, Singapore<br>
                All rights reserved
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</template>