<template name="help">
    <div class="container main">
        <div class="jumbotron text-center top-bottom-margined">
            <h1>
                Help Center
            </h1>
            <p>
                pick a choice below to start
            </p>
        </div>
        <div class="btn-group text-center" role="group" style="width:100%">
            <button class="btn btn-default help-btn-nav">
                <h3>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </h3>
            </button>
            <button class="btn btn-default help-btn">
                <h2 data-toggle="collapse" data-parent="#accordion-50uq" href="#collapse1-50uq" type="submit">
                    Tutorial
                </h2>
            </button>
            <button class="btn btn-default help-btn" data-toggle="collapse" data-parent="#accordion-50uq" href="#collapse2-50uq" type="submit">
                <h2>
                    Feedback
                </h2>
            </button>
            <button class="btn btn-default help-btn" data-toggle="collapse" data-parent="#accordion-50uq" href="#collapse3-50uq" type="submit">
                <h2>
                    FAQ
                </h2>
            </button>
            <button class="btn btn-default help-btn" data-toggle="collapse" data-parent="#accordion-50uq" href="#collapse4-50uq" type="submit">
                <h2>
                    Contact us
                </h2>
            </button>
            <button class="btn btn-default help-btn-nav">
                <h3>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </h3>
            </button>
        </div>
        <div class="help-content">
            <div class="panel-group" id="accordion-50uq">
                <div class="panel panel-default" data-count="1">
                    <div id="collapse1-50uq" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3 class="help-header">
                                    Tutorial
                                </h3>
                                <hr class="no-margin">
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="width:inherit">
                                    <div class="well tut-well">
                                        <h4>
                                            Table of content
                                        </h4>
                                        <ol class="tut-nav">
                                            <li>
                                                <a href="#">Getting started</a>
                                            </li>
                                            <li>
                                                <a href="#">Joining a team</a>
                                            </li>
                                            <li>
                                                <a href="#">Creating a team</a>
                                            </li>
                                            <li>
                                                <a href="#">Configurations</a>
                                            </li>
                                            <li>
                                                <a href="#">Managing a team</a>
                                            </li>
                                            <li>
                                                <a href="#">What's next</a>
                                            </li>
                                        </ol>
                                    </div>
                                    <button class="btn btn-default scroll-up-btn">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                </div>
                                <div class="col-md-9">
                                    <div class="help-content">
                                        <h2>
                                            Getting started
                                        </h2>
                                        <h4>
                                            <strong>I. CollabApp in a nutshell</strong>
                                        </h4>
                                        <p class="help-p">
                                            <img src="/images/logo.png" style="width:180px; float:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <h4>
                                            <strong>II. Whom CollabApp is suitable for</strong>
                                        </h4>
                                        <p class="help-p">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <h4>
                                            <strong>III. Benefits you can get from our service</strong>
                                        </h4>
                                        <ul>
                                            <li>
                                                Benefit #1
                                            </li>
                                            <li>
                                                Benefit #2
                                            </li>
                                            <li>
                                                Benefit #3
                                            </li>
                                            <li>
                                                Benefit #4
                                            </li>
                                            <li>
                                                Benefit #5
                                            </li>
                                            <li>
                                                Benefit #6
                                            </li>
                                        </ul>
                                        <h4>
                                            <strong>IV. Where to start the journey</strong>
                                        </h4>
                                        <p class="help-p">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="help-content">
                                        <h2>
                                            Joining a team
                                        </h2>
                                        <h4>
                                            <strong>I. Explore existing projects</strong>
                                        </h4>
                                        <p class="help-p">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <h4>
                                            <strong>II. Joining request</strong>
                                        </h4>
                                        <p class="help-p">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <h4>
                                            <strong>III. What comes next</strong>
                                        </h4>
                                        <p class="help-p">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-count="2">
                    <div id="collapse2-50uq" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3 class="help-header">
                                    Feedback
                                </h3>
                                <hr class="no-margin">
                            </div>
                            <div class="feedback-body">
                                <p class="text-center">
                                    Please take your time to send us some thoughts.<br>
                                    Your feedback is the most precious to the future of our platform.
                                </p>
                                <div class="feedback-form">
                                    <form>
                                        <div class="form-group">
                                            <label for="subject">Subject<span class="required-asterisk">&nbsp;*</span></label> <input type="text" class="form-control" id="subject"
                                            placeholder="Enter subject here" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="comments">Comments<span class="required-asterisk">&nbsp;*</span></label> <textarea class="form-control" id="comments" placeholder=
                                            "Enter your comments here" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email (if you wish to be contacted by us for more feedback)</label> <input type="email" class="form-control" id="email" placeholder=
                                            "Enter your email here here">
                                        </div>
                                        <button type="submit" class="btn btn-default center-block">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-count="3">
                    <div id="collapse3-50uq" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3 class="help-header">
                                    FAQ
                                </h3>
                                <hr class="no-margin">
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="well faq-well">
                                        <h4>
                                            FAQs
                                        </h4>
                                        <div class="faq-group">
                                            <p class="no-margin">
                                                <strong>Daily Cases</strong>
                                            </p>
                                            <ul class="tut-nav">
                                                <li>
                                                    <a href="#">Topic 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 3</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="faq-group">
                                            <p class="no-margin">
                                                <strong>Necessary Cases</strong>
                                            </p>
                                            <ul class="tut-nav">
                                                <li>
                                                    <a href="#">Topic 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 3</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="faq-group">
                                            <p class="no-margin">
                                                <strong>Edge Cases</strong>
                                            </p>
                                            <ul class="tut-nav">
                                                <li>
                                                    <a href="#">Topic 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">Topic 3</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button class="btn btn-default scroll-up-btn">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                </div>
                                <div class="col-md-9 help-content">
                                    <h2 class="faq-group-title text-center">
                                        Daily cases
                                    </h2>
                                    <h3>
                                        Topic 1
                                    </h3>
                                    <table class="question table">
                                        <thead>
                                            <tr>
                                                <th class="faq-q-left text-center" draggable="true">
                                                    Q:
                                                </th>
                                                <th class="faq-q-right" draggable="true">
                                                    At vero eos et accusamus et iusto?
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="faq-a-left">
                                                    A:
                                                </td>
                                                <td class="faq-a-right">
                                                    Et harum quidem rerum facilis est et expedita distinctio.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="question table">
                                        <thead>
                                            <tr>
                                                <th class="faq-q-left text-center">
                                                    Q:
                                                </th>
                                                <th class="faq-q-right">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="faq-a-left">
                                                    A:
                                                </td>
                                                <td class="faq-a-right">
                                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="question table">
                                        <thead>
                                            <tr>
                                                <th class="faq-q-left text-center">
                                                    Q:
                                                </th>
                                                <th class="faq-q-right">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="faq-a-left">
                                                    A:
                                                </td>
                                                <td class="faq-a-right">
                                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="question table">
                                        <thead>
                                            <tr>
                                                <th class="faq-q-left text-center">
                                                    Q:
                                                </th>
                                                <th draggable="true" class="faq-q-right">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium?
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="faq-a-left">
                                                    A:
                                                </td>
                                                <td class="faq-a-right">
                                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                                    sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                                                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-count="4">
                    <div id="collapse4-50uq" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3 class="help-header">
                                    Contact us
                                </h3>
                                <hr class="no-margin">
                            </div>
                            <div class="row contact-body">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="contact-block">
                                        <h4>
                                            Customer support 24/7
                                        </h4>
                                        <ul>
                                            <li>
                                                <strong>Hotline:</strong> 99999999
                                            </li>
                                            <li>
                                                <strong>Email:</strong> support@collabapp.com
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="contact-block">
                                        <h4>
                                            Our office
                                        </h4>
                                        <p class="office">
                                            <strong>Design Laboratory (MAE)</strong><br>
                                            Block N3.2<br>
                                            N3.2-B1-02<br>
                                            65 Nanyang Drive<br>
                                            Singapore 637460
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        Follow us on social media
                                    </h4><a href="#"><img class="social-icon" src="/images/social/facebook.png"></a> <a href="#"><img class="social-icon" src=
                                    "/images/social/twitter.png"></a> <a href="#"><img class="social-icon" src="/images/social/youtube.png"></a> <a href="#"><img class="social-icon"
                                    src="/images/social/linkedin.png"></a> <a href="#"><img class="social-icon" src="/images/social/reddit.png"></a>
                                    <div class="embed-responsive embed-responsive-16by9" style="margin-top:10px">
                                        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?wmode=transparent" data-sh-tag-identifier="youtubevideos"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <footer class="footer-min">
        <p>
            CollabApp &copy; 2015
        </p>
    </footer>
</template>