<template name="home">
	<div class="home-pic"></div>
	<div class="home-content text-center">
	</div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Got some ideas in your mind but don't know how to do it or who to do it with?<br>
                    Wanna create a start-up with the best people in your region, or event in the world?
                </p>
                <h2 class="mid-text">
                    <u>THIS</u> IS THE PLACE FOR YOU.
                </h2>
                <p>
                    Draft your designs and show them to the world, right here at CollabApp.<br>
                    There's a high chance that thousands of people will crave for that little things you got in your hands
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row feature-jumbo">
            <div class="col-md-6">
                <img class="img-responsive center-block home-jumbo-icon" src="/images/diag-2.png">
                <div class="whole-text">
                    <h1>
                        All-in-one
                    </h1>
                    <p draggable="true">
                        Complete collaboration package.<br>
                        No need to look elsewhere.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive center-block home-jumbo-icon" src="/images/diag.png">
                <div class="role-text">
                    <h1>
                        Pick your role
                    </h1>
                    <p draggable="true">
                        Whoever you want are, you'll never be alone.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center jumbo-with-blueprint">
        <div class="join-text">
            <h1>
                Join the movement
            </h1><br>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 step-cell has-border-right" draggable="true">
                    <span class="statistics"><strong>138,000</strong></span>
                    <p>
                        Users
                    </p>
                </div>
                <div class="col-md-2 step-cell has-border-right" draggable="true">
                    <span class="statistics"><strong>54,000</strong></span>
                    <p>
                        Groups
                    </p>
                </div>
                <div class="col-md-2 step-cell has-border-right">
                    <span class="statistics"><strong>76,000</strong></span>
                    <p>
                        Projects
                    </p>
                </div>
                <div class="col-md-2 step-cell">
                    <span class="statistics"><strong>29,000</strong></span>
                    <p>
                        Products<sup>*</sup>
                    </p>
                </div>
            </div><br>
            <br>
            <div>
                <a href="{{pathFor route='login'}}" class="btn index-btn" role="button">Login</a>
                <a href="{{pathFor route='register'}}" class="btn index-btn" role="button">Register</a>
            </div>
            <div class="statistics-disclaimer">
                <span>(*) Commercialized products presented on our official e-commerce channel.</span>
            </div>
        </div>
    </div>
    <footer id="footerwrap">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <h3>
                    Contact us
                </h3><span class="glyphicon glyphicon-phone"></span>&nbsp;9999999<br>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;something@somehost.com
            </div>
            <div class="col-md-5">
                <h3>
                    CollabApp
                </h3>&copy; 2015 School of Mechanical and Aerospace Engineering<br>
                Nanyang Technological University, Singapore<br>
                All rights reserved
            </div>
        </div>
    </footer>
</template>