<template name="home-old-2">
    <div id="headerwrap" class="jumbotron text-center even-jumbo header-jumbo">
        <div class="row header-content row-fluid">
            <h1>
                CollabApp
            </h1>
            <h3 draggable="true">
                Online collaboration made easy
            </h3><span class="quote" draggable="true">"[Insert deep quote here]" - Someone important</span>
        </div>
    </div>
    <div id="#feature-shaded" class="jumbotron text-center">
        <div class="row feature-jumbo">
            <div class="col-md-6">
                <img class="img-responsive center-block home-jumbo-icon" src="/images/diag-2.png">
                <div class="whole-text">
                    <h1>
                        All-in-one
                    </h1>
                    <p draggable="true">
                        Complete collaboration package.<br>
                        No need to look elsewhere.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive center-block home-jumbo-icon" src="/images/diag.png">
                <div class="role-text">
                    <h1>
                        Pick your role
                    </h1>
                    <p draggable="true">
                        Whoever you want are, you'll never be alone.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center jumbo-with-blueprint">
        <div class="join-text">
            <h1>
                Join the movement
            </h1><br>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 step-cell has-border-right" draggable="true">
                    <span class="statistics"><strong>138,000</strong></span>
                    <p>
                        Users
                    </p>
                </div>
                <div class="col-md-2 step-cell has-border-right" draggable="true">
                    <span class="statistics"><strong>54,000</strong></span>
                    <p>
                        Groups
                    </p>
                </div>
                <div class="col-md-2 step-cell has-border-right">
                    <span class="statistics"><strong>76,000</strong></span>
                    <p>
                        Projects
                    </p>
                </div>
                <div class="col-md-2 step-cell">
                    <span class="statistics"><strong>29,000</strong></span>
                    <p>
                        Products<sup>*</sup>
                    </p>
                </div>
            </div><br>
            <br>
            <div>
                <a href="{{pathFor route='login'}}" class="btn index-btn" role="button">Login</a>
                <a href="{{pathFor route='register'}}" class="btn index-btn" role="button">Register</a>
            </div>
            <div class="statistics-disclaimer">
                <span>(*) Commercialized products presented on our official e-commerce channel.</span>
            </div>
        </div>
    </div>
    <footer id="footerwrap">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <h3>
                    Contact us
                </h3><span class="glyphicon glyphicon-phone"></span>&nbsp;9999999<br>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;something@somehost.com
            </div>
            <div class="col-md-5">
                <h3>
                    CollabApp
                </h3>&copy; 2015 School of Mechanical and Aerospace Engineering<br>
                Nanyang Technological University, Singapore<br>
                All rights reserved
            </div>
        </div>
    </footer>
</template>