<template name="home-old">
    <div id="headerwrap" class="jumbotron text-center even-jumbo header-jumbo">
        <div class="row header-content row-fluid">
            <h1>
                CollabApp
            </h1>
            <h3 draggable="true">
                Online collaboration made easy
            </h3><span class="quote" draggable="true">"[Insert deep quote here]" - Someone important</span>
        </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Got some ideas in your mind but don't know how to do it or who to do it with?<br>
                    Wanna create a start-up with the best people in your region, or event in the world?
                </p>
                <h2 class="mid-text">
                    <u>THIS</u> IS THE PLACE FOR YOU.
                </h2>
                <p>
                    Draft your designs and show them to the world, right here at CollabApp.<br>
                    There's a high chance that thousands of people will crave for that little things you got in your hands
                </p>
            </div>
        </div>
    </div>
    <div id="features" class="jumbotron even-jumbo text-center jumbo-white">
        <h1>
            What you have to do<br>
        </h1>
        <p draggable="true">
            Just following these concrete 4 steps<br>
        </p>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 step-cell" draggable="true">
                <h3>
                    <span><b>Step 1</b></span>
                </h3>
                <p>
                    <span class="glyphicon glyphicon-share glyph-lg"></span>
                </p>
                <p>
                    Share&nbsp;<br>
                    your idea
                </p>
            </div>
            <div class="col-md-2 step-cell" draggable="true">
                <h3>
                    <span><b>Step 2</b></span>
                </h3>
                <p draggable="true">
                    <span class="glyphicon glyphicon-user glyph-lg"></span>
                </p>
                <p>
                    Form&nbsp;<br>
                    a team
                </p>
            </div>
            <div class="col-md-2 step-cell">
                <h3>
                    <span><b>Step 3</b></span>
                </h3>
                <p>
                    <span class="glyphicon glyphicon-wrench glyph-lg"></span>
                </p>
                <p>
                    Refine your<br>
                    prototype
                </p>
            </div>
            <div class="col-md-2 step-cell">
                <h3>
                    <span><b>Step 4</b></span>
                </h3>
                <p>
                    <span class="glyphicon glyphicon-usd glyph-lg"></span>
                </p>
                <p>
                    Manufacture<br>
                    and sale
                </p>
            </div>
        </div>
    </div>
    <div id="showcase" class="jumbotron text-center">
        <h1 class="wait-text">
            What are you waiting for?<br>
        </h1>
        <button class="btn btn-wait big-button" href="#register">
            Register
        </button>
        <button class="btn btn-wait big-button" href="#login">
            Login
        </button>
    </div>
    <footer id="footerwrap" class="jumbotron">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <h3>
                    Contact us
                </h3><span class="glyphicon glyphicon-phone"></span>&nbsp;9999999<br>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;something@somehost.com
            </div>
            <div class="col-md-5">
                <h3>
                    CollabApp
                </h3>&copy; 2015 School of Mechanical and Aerospace Engineering<br>
                Nanyang Technological University, Singapore<br>
                All rights reserved
            </div>
        </div>
    </footer>
</template>