<template name="master">
	<div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button><a class="navbar-brand" href="{{pathFor route='home'}}"><b>CollabApp</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="{{homeActive}}">
                    <a href="{{pathFor route='home'}}">Home</a>
                </li>
                <li class="{{exploreActive}}">
                    <a href="{{pathFor route='explore'}}">Explore</a>
                </li>
                <li class="{{helpActive}}">
                    <a href="{{pathFor route='help'}}">Help</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{loginActive}}">
                    <a href="{{pathFor route='login'}}">Login</a>
                </li>
                <li class="{{registerActive}}">
                    <a href="{{pathFor route='register'}}">Register</a>
                </li>
            </ul>
        </div>
    </div>
	{{> yield}}
</template>