<template name="master">
	<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{{pathFor route='index'}}" class="navbar-brand">CollabApp</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="{{pathFor route='explore'}}">Explore</a>
					</li>
					<li>
						<a href="{{pathFor route='community'}}">Community</a>
					</li>
					<li>
						<a href="{{pathFor route='help'}}">Help</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
					<li>
						<a href="#"><strong>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</strong></a>
					</li>
					<li>
						<a href="#" class="logout">Logout</a>
					</li>
				{{else}}
					<li>
						<!--<a href="{{pathFor route='authentication'}}">Login</a>-->
						<a data-toggle="modal" data-target="#login">Login</a>
					</li>
					<li>
						<!--<a href="{{pathFor route='authentication'}}">Register</a>-->
						<a data-toggle="modal" data-target="#register">Register</a>
					</li>
				{{/if}}
				</ul>
			</div>
		</div>
	</nav>
	{{> authentication}}
	{{> yield}}
	<footer id="footer" class="container-fluid">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h5>CollabApp Logo</h5>
			<h6>All rights reserved &#169;</h6>
		</div>
		<div class="col-md-4 bottom-align-text">
			<h6>School of Mechanical And Aerospace Engineering<br>Nanyang Technological University, Singapore</h6>
		</div>
		<div class="col-md-2"></div>
	</footer>
</template>