<template name="newProjectP2">
	<div class="container-fluid">
		<div class="create-project-input-area">
			<form class="form-horizontal">
				<h4 class="text-center">Add Collaborators</h4>
				<div class="collab-container">
					<!-- Dynamically add here {{> newCollaborator}} -->
					{{#each collabs}}
						{{> newCollaborator}}
					{{/each}}
				</div>
				<div class="center-block">
					<button class="btn btn-default center-block add-collab">Add</button>
				</div>
			</form>
		</div>
	</div>
</template>

<template name="newCollaborator">
	<div class="form-group individual-collab">
		<input type="text" placeholder="Username" class="col-xs-2 col-md-2 text-center collab-name">
		<select class="col-xs-5 col-md-5 col-xs-offset-1 col-md-offset-1 collab-role">
			<option>Brainstormer</option>
			<option>Designer</option>
			<option>Supplier</option>
			<option>Manufacturer</option>
			<option>Tester</option>
			<option>Sales Manager</option>
			<option>Marketing Manager</option>
			<option>Other</option>
		</select>
		<div class="col-xs-3 col-md-4">
			<button class="btn btn-default center-block remove-collab">Remove</button>
		</div>
	</div>
</template>