<template name="register">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 middle-content">
            <form>
                <div class="form-group full-width">
                    <h1 class="text-center">
                        <strong>Register</strong>
                    </h1>
                    <hr>
                    <div class="row squeeze-row">
                        <div class="col-md-6 squeeze-col-left">
                            <input type="text" class="form-control" id="textbox" placeholder="First name">
                        </div>
                        <div class="col-md-6 squeeze-col-right">
                            <input type="text" class="form-control" id="textbox" placeholder="Last name">
                        </div>
                    </div>
                    <input type="text" class="form-control" id="textbox" placeholder="Username">
                    <input type="password" class="form-control" id="textbox" placeholder="Password">
                    <input type="password" class="form-control" id="textbox" placeholder="Re-type Password">
                </div>
                <div class="text-center full-width">
                    <button type="submit" class="btn btn-default full-width access-control-btn">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>