extends ../layout.jade

block title
  title New | CollabApp

block body-content
  .container-fluid
    .col-md-2
    .col-md-8
      h3.text-center.create-project-header We need some details to get you started...
    .col-md-2
  .container-fluid
    .col-md-2
    .col-md-8.create-project-input-area
      form
        .form-group
          label.input-labelling It is a
          .radio-inline
            label
              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
              | Brainstorm
          .radio-inline
            label
              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
              | Project
        .form-group
          label.input-labelling(for='categories') Categories
          select#categories.form-control
            option Category 1
            option Category 2
            option Category 3
            option Category 4
            option Category 5
        .form-group
          label.input-labelling(for="project-title") Title
          input.form-control#project-title(type="text")
        .form-group
          label.input-labelling(for="project-description") Description
          textarea.form-control#project-description(type="text", rows="3")
        .form-group
          label.input-labelling(for="image-upload") Images
          button.btn.btn-default#image-upload Insert images
          .panel.img-panel
            img.img-responsive.new-project-img-inline(src="http://placehold.it/150x100")
            img.img-responsive.new-project-img-inline(src="http://placehold.it/150x100")
            img.img-responsive.new-project-img-inline(src="http://placehold.it/150x100")
            img.img-responsive.new-project-img-inline(src="http://placehold.it/150x100")
      .container-fluid
        .col-xs-4.col-md-4.text-left
          //button.btn.btn-default Prev
        .col-xs-4.col-md-4
        .col-xs-4.col-md-4.text-right
          button.btn.btn-default(onclick="location.href = 'new_project_page_2.html'") Next
    .col-md-2
