extends layout.jade

block title
  title Explore | CollabApp

block navbar-link
  ul.nav.navbar-nav
    li.active
      a Explore
    li
      // link to another page
      a(href='community.html') Community
    li
      // link to another page
      a(href='help.html') Help
  ul.nav.navbar-nav.navbar-right
    li
      // add modal
      a(href='#login') Login
    li
      // add modal
      a(href='#register') Register

block body-content
  .container-fluid.zero-margin.zero-padding
    .col-md-2#left-panel
      button.btn.btn-primary.center-block(onclick="location.href = 'new_project_page_1.html'") New
      .row.center-block#category
        h5 Categories
        .btn-group(data-toggle="buttons")
          label.btn.btn-default.active All
            input(type="checkbox", autocomplete="off", checked)
          label.btn.btn-default Category 1
            input(type="checkbox", autocomplete="off")
          label.btn.btn-default Category 2
            input(type="checkbox", autocomplete="off")
          label.btn.btn-default Category 3
            input(type="checkbox", autocomplete="off")
          label.btn.btn-default Category 4
            input(type="checkbox", autocomplete="off")
          label.btn.btn-default Category 5
            input(type="checkbox", autocomplete="off")
    .col-md-10#right-panel
      .row.center-block#sorting-row
        .col-md-4
          form.form-inline
            .form-group
              label Viewing:
              select.form-control
                option Any
                option Projects
                option Brainstorm
        .col-md-4
          form.form-inline
            .form-group
              label Sort by:
              select.form-control
                option Newest
                option Most viewed
        .col-md-4
          form.form-inline
            .form-group
              .input-group
                input.form-control(type='text', placeholder='Search')
                span.input-group-addon.glyphicon.glyphicon-search 
      .row#load-content
        a.col-xs-12.col-sm-6.col-md-3.zero-margin.content-pill(href="project.html")
          img.img-responsive(src="http://placehold.it/500x300")
          .content-pill-title Title
          .content-pill-author
            span
              img.img-circle(src="http://placehold.it/20x20")
            span &nbsp;&nbsp;Author name
          .content-pill-description.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dictum eros. Proin in ultricies nibh. Vestibulum tristique sollicitudin neque, vitae interdum diam laoreet at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .well.zero-padding.content-pill-footer
            .label.label-success Project
            .label.label-default
              span.glyphicon.glyphicon-eye-open
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;888
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;888
        a.col-xs-12.col-sm-6.col-md-3.zero-margin.content-pill(href="brainstorm.html")
          img.img-responsive(src="http://placehold.it/500x300")
          .content-pill-title Title
          .content-pill-author
            span
              img.img-circle(src="http://placehold.it/20x20")
            span &nbsp;&nbsp;Author name
          .content-pill-description.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dictum eros. Proin in ultricies nibh. Vestibulum tristique sollicitudin neque, vitae interdum diam laoreet at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .well.zero-padding.content-pill-footer
            .label.label-warning Brainstorm
            .label.label-default
              span.glyphicon.glyphicon-eye-open
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;999
        a.col-xs-12.col-sm-6.col-md-3.zero-margin.content-pill(href="brainstorm.html")
          img.img-responsive(src="http://placehold.it/500x300")
          .content-pill-title Title
          .content-pill-author
            span
              img.img-circle(src="http://placehold.it/20x20")
            span &nbsp;&nbsp;Author name
          .content-pill-description.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dictum eros. Proin in ultricies nibh. Vestibulum tristique sollicitudin neque, vitae interdum diam laoreet at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .well.zero-padding.content-pill-footer
            .label.label-warning Brainstorm
            .label.label-default
              span.glyphicon.glyphicon-eye-open
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;999
        a.col-xs-12.col-sm-6.col-md-3.zero-margin.content-pill(href="project.html")
          img.img-responsive(src="http://placehold.it/500x300")
          .content-pill-title Title
          .content-pill-author
            span
              img.img-circle(src="http://placehold.it/20x20")
            span &nbsp;&nbsp;Author name
          .content-pill-description.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dictum eros. Proin in ultricies nibh. Vestibulum tristique sollicitudin neque, vitae interdum diam laoreet at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .well.zero-padding.content-pill-footer
            .label.label-success Project
            .label.label-default
              span.glyphicon.glyphicon-eye-open
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;888
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;888
        a.col-xs-12.col-sm-6.col-md-3.zero-margin.content-pill(href="brainstorm.html")
          img.img-responsive(src="http://placehold.it/500x300")
          .content-pill-title Title
          .content-pill-author
            span
              img.img-circle(src="http://placehold.it/20x20")
            span &nbsp;&nbsp;Author name
          .content-pill-description.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dictum eros. Proin in ultricies nibh. Vestibulum tristique sollicitudin neque, vitae interdum diam laoreet at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .well.zero-padding.content-pill-footer
            .label.label-warning Brainstorm
            .label.label-default
              span.glyphicon.glyphicon-eye-open
              span &nbsp;999
            .label.label-default
              span.glyphicon.glyphicon-stats
              span &nbsp;999

block script
  script.
    // controlling the height of left panel
    $(document).ready(function() {
      var screen_height = $(window).height();
      var navbar_content_height = $('.navbar').height();
      var content_height = screen_height - navbar_content_height;
      $('#left-panel').css('height', content_height + 'px');
      $('#right-panel').css('height', content_height + 'px');
      $('#left-panel').css('max-height', content_height + 'px');
      $('#right-panel').css('max-height', content_height + 'px');
    })

block footer