extends layout.jade

block title
    title Project | CollabApp

block link
  link(href='css/owl.carousel.css', rel='stylesheet')
  link(href='css/owl.theme.css', rel='stylesheet')

block body-content
  .container-fluid
  .col-md-1
  .col-md-10
    h3 Title
    .col-md-push-10.col-md-2
      h4 Team
      .row.project-team-members
        .col-xs-6.col-md-6
          img.img-circle.img-responsive(src='http://placehold.it/50x50')
        .col-xs-6.col-md-6
          .row Name
          .row Designation
      .row.project-team-members
        .col-xs-6.col-md-6
          img.img-circle.img-responsive(src='http://placehold.it/50x50')
        .col-xs-6.col-md-6
          .row Name
          .row Designation
      .row.project-team-members
        .col-xs-6.col-md-6
          img.img-circle.img-responsive(src='http://placehold.it/50x50')
        .col-xs-6.col-md-6
          .row Name
          .row Designation
      .row.project-team-members-view-all
        button.btn.btn-default.center-block View all >>>
      .project-user-options
        .row.project-update-me-button
          button.btn.btn-warning.center-block Update Me!
        .row.project-join-now-button
          button.btn.btn-success.center-block I want to join
    .col-md-pull-2.col-md-10.image-gallery
      #image-gallery.carousel.slide(data-ride='carousel')
          .carousel-inner(role='listbox')
            .item.active
              img.img-responsive.center-block.gallery-thumbnail(src='http://placehold.it/1000x700')
            .item
              img.img-responsive.center-block.gallery-thumbnail(src='http://placehold.it/1000x700')
            .item
              img.img-responsive.center-block.gallery-thumbnail(src='http://placehold.it/1000x700')
          a.left.carousel-control(role='button', href="#image-gallery", data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(role='button', href="#image-gallery", data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
        .owl-carousel
          img.img-responsive(src='http://placehold.it/1000x700')
          img.img-responsive(src='http://placehold.it/1000x700')
          img.img-responsive(src='http://placehold.it/1000x700')
          img.img-responsive(src='http://placehold.it/1000x700')
          img.img-responsive(src='http://placehold.it/1000x700')
          img.img-responsive(src='http://placehold.it/1000x700')
    h6.text-justify.col-md-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a. Suspendisse at lobortis libero. Maecenas sed orci fermentum, finibus enim sit amet, aliquam ipsum. Maecenas efficitur gravida lorem in tempus. Vivamus mattis, velit ac mattis ultrices, nunc magna placerat magna, vel laoreet arcu quam faucibus nisl. Proin et nulla accumsan, commodo urna eu, viverra est. Phasellus vulputate risus in odio tincidunt, sit amet facilisis lacus sollicitudin. Etiam nisl massa, efficitur vel dui eu, euismod volutpat lacus. Donec aliquet egestas purus, auctor lacinia ipsum. Nullam a tellus non nulla fermentum pellentesque sed id dui.
  .col-md-1

  .container-fluid
      .col-md-1
      .col-md-10
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#dashboard', aria-controls='dashboard', role='tab', data-toggle='tab') Dashboard
          li(role='presentation')
            a(href='#project-tasks', aria-controls='tasks', role='tab', data-toggle='tab') Tasks
          li(role='presentation')
            a(href='#project-discussion', aria-controls='discussion', role='tab', data-toggle='tab') Discussions
        // Tab panes
        .tab-content
          #dashboard.tab-pane.active(role='tabpanel')
            ul.timeline
              li(onclick="location.href = 'project_task.html'")
                .timeline-badge
                  i.glyphicon.glyphicon-check
                .timeline-panel
                  .timeline-heading
                    h4.timeline-title Task completed
                    p
                      small.text-muted
                        i.glyphicon.glyphicon-time
                        |  11 hours ago
                  .timeline-body
                    p
                      | Solution: Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo...
              li.timeline-inverted(onclick="location.href = 'project_discussion.html'")
                .timeline-badge.warning
                  i.glyphicon.glyphicon-credit-card
                .timeline-panel
                  .timeline-heading
                    h4.timeline-title New Discussion Thread
                  .timeline-body
                    p
                      | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.

          #project-tasks.tab-pane(role='tabpanel')
            .well.well-sm.col-md-11(onclick="location.href = 'project_task.html'")
              h4.col-md-12 Task title
              .row.task-header
                .col-xs-2.col-md-1.text-right Fields:
                .col-xs-10.col-md-11
                  .label.label-primary Field 1
                  .label.label-primary Field 2
                  .label.label-primary Field 3
                  .label.label-primary Field 4
                  .label.label-primary Field 5
              .panel-footer 9 people are working on this
            .well.well-sm.col-md-11(onclick="location.href = 'project_task.html'")
              h4.col-md-12 Task title
              .row.task-header
                .col-xs-2.col-md-1.text-right Fields:
                .col-xs-10.col-md-11
                  .label.label-primary Field 1
                  .label.label-primary Field 2
                  .label.label-primary Field 3
                  .label.label-primary Field 4
                  .label.label-primary Field 5
              .panel-footer 11 people are working on this
            .well.well-sm.col-md-11(onclick="location.href = 'project_task.html'")
              h4.col-md-12 Task title
              .row.task-header
                .col-xs-2.col-md-1.text-right Fields:
                .col-xs-10.col-md-11
                  .label.label-primary Field 1
                  .label.label-primary Field 2
                  .label.label-primary Field 3
                  .label.label-primary Field 4
                  .label.label-primary Field 5
              .panel-footer 10 people are working on this

          #project-discussion.tab-pane(role='tabpanel')
            .project-discussion-new-topic
              button.btn.btn-success New topic
            #project-discussion-list
              table.table.table-striped.table-responsive
                tr
                  th.title-col Title
                  th.author-col Author
                  th.created.-col Created
                  th.joined-col Joined
                  th.view-col View
                  th.post.col Post
                  th.last-active-col Last activity
                tr(onclick="location.href = 'project_discussion.html'")
                  td.title-col Task title
                  td.author-col
                    img.img-circle.img-responsive(src="http://placehold.it/25x25")
                  td.created-col 4h ago
                  td.joined-col
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                  td.view-col 99
                  td.post-col 999
                  td.last-active-col
                    span
                      img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    span &nbsp;4h ago
                tr(onclick="location.href = 'project_discussion.html'")
                  td.title-col Task title
                  td.author-col
                    img.img-circle.img-responsive(src="http://placehold.it/25x25")
                  td.created-col 2 days ago
                  td.joined-col
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                  td.view-col 88
                  td.post-col 99
                  td.last-active-col
                    span
                      img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/25x25")
                    span &nbsp;8h ago
      .col-md-1

block script
  script(src="js/owl.carousel.min.js")
  script.
    $(document).ready(function(){ 
      $('.owl-carousel').owlCarousel({
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });
      if (screen.width < 992) {
        $('.owl-carousel.owl-theme').hide();
      } else {
        $('.owl-carousel.owl-theme').show();
      }
    })