extends layout.jade

block title
  title Project Discussion | CollabApp

block body-content
  .container-fluid
    .col-md-1
    .col-md-10.zero-padding
      ol.breadcrumb
        li
          a(href='project.html') Project Title
        li.active Discussion
      .col-md-push-9.col-md-3
        .project-discussion-stats Created 4h ago
        .project-discussion-stats
          span.glyphicon.glyphicon-eye-open
          span &nbsp;&nbsp;99
        .project-discussion-stats
          span.glyphicon.glyphicon-comment
          span &nbsp;&nbsp;999
        .project-discussion-stats
          button.btn.btn-success Add post
      .col-md-pull-3.col-md-9
        h4#project-discussion-title Discussion title
        .panel.panel-default
          .panel-heading
            img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/30x30")
            span Name
            span.pull-right
              span.glyphicon.glyphicon-time
              span &nbsp;&nbsp;4h ago
          .panel-body
            h6.text-justify.project-discussion-content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a. Suspendisse at lobortis libero. Maecenas sed orci fermentum, finibus enim sit amet, aliquam ipsum. Maecenas efficitur gravida lorem in tempus. Vivamus mattis, velit ac mattis ultrices, nunc magna placerat magna, vel laoreet arcu quam faucibus nisl. Proin et nulla accumsan, commodo urna eu, viverra est. Phasellus vulputate risus in odio tincidunt, sit amet facilisis lacus sollicitudin. Etiam nisl massa, efficitur vel dui eu, euismod volutpat lacus. Donec aliquet egestas purus, auctor lacinia ipsum. Nullam a tellus non nulla fermentum pellentesque sed id dui.
          .panel-footer
            span.glyphicon.glyphicon-thumbs-up
            span &nbsp;&nbsp;99
        .panel.panel-default
          .panel-heading
            img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/30x30")
            span Name
            span.pull-right
              span.glyphicon.glyphicon-time
              span &nbsp;&nbsp;4h ago
          .panel-body
            h6.text-justify.project-discussion-content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a. Suspendisse at lobortis libero. Maecenas sed orci fermentum, finibus enim sit amet, aliquam ipsum. Maecenas efficitur gravida lorem in tempus. Vivamus mattis, velit ac mattis ultrices, nunc magna placerat magna, vel laoreet arcu quam faucibus nisl. Proin et nulla accumsan, commodo urna eu, viverra est. Phasellus vulputate risus in odio tincidunt, sit amet facilisis lacus sollicitudin. Etiam nisl massa, efficitur vel dui eu, euismod volutpat lacus. Donec aliquet egestas purus, auctor lacinia ipsum. Nullam a tellus non nulla fermentum pellentesque sed id dui.
          .panel-footer
            span.glyphicon.glyphicon-thumbs-up
            span &nbsp;&nbsp;99
        .panel.panel-default
          .panel-heading
            img.img-circle.img-responsive.project-discussion-img-inline(src="http://placehold.it/30x30")
            span Name
            span.pull-right
              span.glyphicon.glyphicon-time
              span &nbsp;&nbsp;4h ago
          .panel-body
            h6.text-justify.project-discussion-content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a. Suspendisse at lobortis libero. Maecenas sed orci fermentum, finibus enim sit amet, aliquam ipsum. Maecenas efficitur gravida lorem in tempus. Vivamus mattis, velit ac mattis ultrices, nunc magna placerat magna, vel laoreet arcu quam faucibus nisl. Proin et nulla accumsan, commodo urna eu, viverra est. Phasellus vulputate risus in odio tincidunt, sit amet facilisis lacus sollicitudin. Etiam nisl massa, efficitur vel dui eu, euismod volutpat lacus. Donec aliquet egestas purus, auctor lacinia ipsum. Nullam a tellus non nulla fermentum pellentesque sed id dui.
          .panel-footer
            span.glyphicon.glyphicon-thumbs-up
            span &nbsp;&nbsp;99
        button.btn.btn-success Add post
    .col-md-1