extends layout.jade

block title
  title Username | CollabApp

block navbar-link
  ul.nav.navbar-nav
    li
      a(href='explore.html') Brainstorm
    li
      a(href='explore.html') Projects
    li
      a(href='community.html') Community
    li
      a(href='help.html') Help
  ul.nav.navbar-nav.navbar-right
    li
      a(data-toggle="dropdown") Username
        span.caret
      ul.dropdown-menu
        li.user-control-dropdown Configure
        li.divider(role="separator")
        li.user-control-dropdown Logout

block body-content
  .container-fluid
    .col-md-1
    .col-md-10
      .col-xs-12.col-sm-4.col-md-3.user-left-panel
        h3 Username
        .col-xs-6.col-sm-6.col-md-12
          img.img-rounded.img-responsive(src="http://placehold.it/200x200")
        .col-xs-6.col-sm-6.col-md-12
          .col-xs-6.col-sm-6.col-md-6.zero-margin.zero-padding
            .row.zero-margin.zero-padding.user-stats-title Joined
            .row.zero-margin.zero-padding.user-stats-content 1 year ago
          .col-xs-6.col-sm-6.col-md-6.zero-margin.zero-padding
            .row.zero-margin.zero-padding.user-stats-title Followers
            .row.zero-margin.zero-padding.user-stats-content 99
      .col-xs-12.col-sm-8.col-md-9.user-right-panel
        .panel.panel-warning
          .panel-heading
            h3.panel-title Last activity
          .panel-body
            li User has joind a project
            li User commentted on a post
        .panel.panel-success
          .panel-heading
            h3.panel-title Involvements
          .panel-body
            .btn.btn-default.project-and-involvement
              img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
              h6.text-center Project name
            .btn.btn-default.project-and-involvement
              img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
              h6.text-center Project name
        .panel.panel-primary
          .panel-heading
            h3.panel-title My Projects
          .panel-body
            .btn.btn-default.project-and-involvement
              img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
              h6.text-center Project name
            .btn.btn-default.project-and-involvement
              img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
              h6.text-center Project name
            .btn.btn-default.project-and-involvement
              img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
              h6.text-center Project name
    .col-md-1